<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_AuthenticationService" />
                <binding name="BasicHttpBinding_IUtilityService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58737/Services/AuthenticationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationService"
                contract="AuthSvc.AuthenticationService" name="BasicHttpBinding_AuthenticationService" />
            <endpoint address="http://localhost:58737/Services/UtilityService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUtilityService"
                contract="UtilitySvc.IUtilityService" name="BasicHttpBinding_IUtilityService" 
				behaviorConfiguration="InterceptorBehaviour"	  />
        </client>
		<!-- Interceptors-->
		<behaviors>
			<endpointBehaviors>
				<behavior name="InterceptorBehaviour">
					<interceptorBehaviorExtension />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="interceptorBehaviorExtension" type="ClientApplication.InterceptorBehaviorExtension, ClientApplication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</behaviorExtensions>
		</extensions>
    </system.serviceModel>
</configuration>